@model ZTP.Models.ModelView.QuestionViewModel
@{
    ViewData["Title"] = "Learn";
}


<h1 style="text-align: center">Question @Model.QuestionNumber/5</h1>

@if (ViewBag.NoAnswer != null)
{
    <h2 style="color: red; text-align: center;">@ViewBag.NoAnswer</h2>
}
<div class="text-center">
@using (Html.BeginForm("Learn", "Words", FormMethod.Post))
{
    <div class="maindiv">
        <div class="panel panel-default">
            <div class="panel-body">
                    <br />
                @if (ViewBag.Lang == "pl")
                {
                        <h3>@Html.Raw("Select the word that corresponds to: <br/><br/>" + @Model.CorrectWord.ForeignLanguageWord)</h3>
                }
                else
                {
                        <h3>@Html.Raw("Podaj słowo odpowiadające słowu: <br/><br/>" + @Model.CorrectWord.PolishWord)</h3>
                }
            </div>
        </div>
        @{
            int i = 0;
        }

        @if (Model.Answers.Count > 2)
        {
            @foreach (var answer in Model.Answers)
            {
                <div class="panel-group">
                    <a class="answerpanel">
                        <div class="panel panel-default answerpanelbody" id=@i>
                            <div class="panel-body">
                                @if (ViewBag.Lang == "pl")
                                {
                                    <label for="@answer.Id">
                                        <input type="radio" name="Answer" id="@answer.Id" value="@answer.PolishWord" />
                                        @answer.PolishWord
                                    </label>
                                }
                                else
                                {
                                    <label for="@answer.Id">
                                        <input type="radio" name="Answer" id="@answer.Id" value="@answer.ForeignLanguageWord" />
                                        @answer.ForeignLanguageWord
                                    </label>
                                }
                            </div>
                        </div>
                    </a>
                </div>
                {
                    i++;
                }
            }
        }
        else
        {
            <div class="panel-group">
                <a class="answerpanel">
                    <div class="panel panel-default answerpanelbody" id=@i>
                        <div class="panel-body">
                            @if (ViewBag.Lang == "pl")
                            {
                                <input type="text" name="Answer" id="@Model.Answers[0].Id" />
                            }
                            else
                            {
                                <input type="text" name="Answer" id="@Model.Answers[0].Id" />
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
    @Html.HiddenFor(model => model.CorrectWord)
    @Html.HiddenFor(model=>model.QuestionNumber)
    @Html.HiddenFor(model=>model.Answer)
    <input type="submit" class="btn btn-success" value="Submit" style="margin-top: 20px;" id="submitButton" />
}
</div>